@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Playfair+Display&family=Poppins:wght@500&display=swap');

body {
    background: linear-gradient(270deg, #F5F5F5 64.05%, #E98E52 64.1%);
    padding: 0px 12px;
}
main {
    margin: 0 104px;
}
.logo-name {
    display: inline-block;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0;
}
/* font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    /* margin: 32px 0; */
    margin-top: 0px;
    margin-bottom: 40px;
    align-items: center;
}
.hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 64px;
    height: 24px;
}
.hamburger-icon {
    height: 1px;
    width: 56px;
    /* margin-bottom: 16px; */
    background: linear-gradient(0deg, #000000, #000000);
    border: 2px solid rgba(0, 0, 0, 1)
}
.hamburger-icon1 {
    height: 1px;
    width: 56px;
    margin-bottom: 12px;
    background: linear-gradient(0deg, #000000, #000000);
    border: 2px solid rgba(0, 0, 0, 1)
}
#hero {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
img {
    /* width: 33.3vw; */
    width: 480px;
    /* height: 66.7vh; */
    height: 560px;
    object-fit: cover;
    box-shadow: 0px 0px 224px 75px rgba(0, 0, 0, 0.2);
    
}
.hero-text {
    margin-top: 32px;
}
.overline {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #828282;
    margin: 0;
}
.title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -0.03em;
    margin: 24px 0;
    color: #333333;
}
.body {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-top: 0;
    margin-bottom: 40px;
    width: 456px;
    height: 99px;
    color: #4F4F4F;
}
button {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.004em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #526BE9;
    border-radius: 1px;
    border: none;
    padding: 12px 24px;

}
.secondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 480px;
    margin-top: 56px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 144px;
    height: 24px;
    /* margin-top: 60px; */
    /* margin-left: 96px;     */
}
i {
    /* margin-right: 16px; */
    /* display: flex;
    align-items: center; */
    width: 24px;
    height: 24px;
    color: #FFFFFF;
}
.chervon {
    display: flex;
}
.previous{
    /* display: flex; */
    /* align-items: center; */
    margin-right: 16px;
}
/* background: linear-gradient(270deg, #F5F5F5 64.05%, #E98E52 64.1%),linear-gradient(0deg, #333333, #333333),linear-gradient(0deg, #4F4F4F, #4F4F4F),linear-gradient(0deg, #828282, #828282),linear-gradient(0deg, #F2F2F2, #F2F2F2),linear-gradient(0deg, #000000, #000000),linear-gradient(0deg, #FFFFFF, #FFFFFF),linear-gradient(0deg, #526BE9, #526BE9),linear-gradient(0deg, #C4C4C4, #C4C4C4),linear-gradient(0deg, #E98E52, #E98E52),linear-gradient(270deg, #F5F5F5 64.05%, #E98E52 64.1%),linear-gradient(0deg, #FCFCFC, #FCFCFC); */